* {
  font-family: roboto, sans serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(20, 21, 31);
  height: 100%;
  width: 100%;
}

header {
  color: rgb(255, 255, 255);
}

.header-text {
  padding: 36px 205px;
  font-size: 24px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.header-text h1 {
  text-align: center;
}

.bookshelf {
  padding: 60px 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookshelf p {
  color: white;
  font-size: 36px;
  font-weight: 700;
}

#add-book-btn {
  border: none;
  height: 40px;
  width: 120px;
  padding: 10px;
  background: rgb(60, 145, 243);
  color: white;
  font-weight: 700;
  transition: all 0.2s ease;
}

#add-book-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.slideshow-container {
  /* min-height: 400px; */
  max-height: 700px;
  width: 100%;
  background: rgb(12, 12, 12);
  overflow: hidden;
}

.vignette {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 800px rgb(0, 0, 0);
  overflow: hidden;
  z-index: 9;
}

.slideshow-container img {
  width: 100%;
  box-shadow: inset 0 0 5em 1em #000;
  transform: translateY(-300px);
  display: block;
}

@keyframes slide-animation {
  0% {
    left: 0px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 1200px;
  }
  30% {
    left: 1200px;
  }
  40% {
    left: 2400px;
  }
  50% {
    left: 2400px;
  }
  60% {
    left: 1200px;
  }
  70% {
    left: 1200px;
  }
  80% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

.slideshow-images {
  animation: slide-animation 16s infinite;
  width: 100%;
}

.book-item-container {
  padding: 0px 205px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.book-item {
  width: auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.book-item .book-details h3 {
  color: rgb(255, 255, 255);
}

.book-item .book-details p {
  color: rgb(187, 187, 187);
  font-size: 14px;
}

.book-img-container {
  height: 90%;
}

.book-item .book-img {
  max-width: 100%;
  object-fit: contain;
  position: relative;
  margin-bottom: 12px;
  z-index: 1;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.377);
}

.book-item .book-delete {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 10;
  filter: invert(1);
  visibility: hidden;
}

.book-item:hover .book-delete {
  visibility: visible;
  cursor: pointer;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.progress {
  position: relative;
  width: 64px;
  height: 24px;
  padding: 6px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: white;
  transition: all 0.2s ease;
}

.progress:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.finished-reading {
  background: rgb(90, 219, 29);
}

.still-reading {
  background: rgb(255, 53, 53);
}

.footer {
  height: 20%;
  background: rgb(30, 33, 46);
  padding: 24px;
  color: rgb(111, 123, 139);
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
}

/* ADD A BOOK MODAL */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.514);
  visibility: hidden;
  z-index: 20;
}

.book-modal {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 400px;
  /* height: 400px; */
  padding: 48px;
  background: rgb(230, 230, 230);
  color: rgb(66, 66, 66);
  position: relative;
}

.book-modal .close-form {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.book-modal .close-form:hover {
  cursor: pointer;
}

.book-modal h3 {
  font-size: 28px;
}

.add-book-btn {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.add-book-btn button {
  border: none;
  background: rgb(60, 145, 243);
  padding: 16px 32px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  transition: all 0.2s ease;
}

.add-book-btn button:hover {
  cursor: pointer;
  background: rgb(53, 111, 235);
  transform: scale(1.05);
}

.book-input input {
  padding: 8px;
  border: none;
  width: 100%;
  font-family: inherit;
}

.book-input select {
  max-width: 40%;
  border: none;
  padding: 8px;
  color: grey;
}

.book-input {
  font-weight: 500;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.book-input input:hover {
  background: rgb(248, 248, 248);
}

.book-input select:hover {
  cursor: pointer;
  background: rgb(248, 248, 248);
}
